
.light-mode {
    background-color: white;
    color: black;

    p, h1, h2, h3, h4, a {
        color: black;
        &::after{
            background-color: #000!important;
        }
    }
    section{
        &::after{
            background-color: #000!important;
        }
    }
    .news-extract {
        color: #000!important;
    }
    &::after {
        background-color: #000!important;
    }
}

.dark-mode {
    background-color: black;
    color: white;

    p, h1, h2, h3, h4, a {
        color: white;
    }

    *::after {
        background-color: #fff; 
    }
}

.Header{
    // background-color: #fff;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9900;
    background-color: #ed3b24;
    .bar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: sticky;
        top: 0;
        .bar-top{
            display: flex;
            justify-content: center;
            width: 100%;
            border-bottom:none;
            height: 6rem;
            .logo_container{
                display: inline-block;
                width: 8rem;
                .logo_container--logo{
                    width: 100%;
                }
            }
        }
        .bar-down{
            position: sticky;
            top: 0;
            z-index: 1000;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 8rem;
            
            // height: 100%;
           .bar-down-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            position: relative;
            .icon_menu{
                margin-left: 1rem;
                font-size: 3rem;
                margin-left: 3rem;
            }
          
           
            
            .logo_container{
                width: 10rem;
            }
            .search-icon{
                margin-right: 3rem;
                font-size: 3rem;
            }
           }
           
           

        }
    }

}
.bar.scrolled .bar-top {
    display: none;
  }

  .info-section{
    height: 4rem;
    
    position: relative;
    overflow-x: hidden;
    .info-section--container{
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        padding: 1rem 0;
        

        background-color: #992614;
        color: white;

        font-family: Gelasio;
        font-size: 14px;
        p{
            display: inline-block; /* Important to give the content a width */

            width: 150%;
            transform: translateX(100%); /* Animation start out of the screen */
          
            /* Add the animation */
            animation: move 50s linear infinite /* infinite make reapeat the animation indefinitely */;
            margin-bottom: .5rem;
            font-size: 1.5rem;
            color: #fff!important;
            word-wrap: normal;
            span{
                font-weight: bold;
                display: inline-block;
            }
            .line{
                padding: 0 1rem;
            }
        }
        @keyframes move {
            to { transform: translateX(-100%); }
          }
       
    }
}
  

// Desktop
@media only screen and (min-width: 1024px) {
    .Header{
        background-color: #ed3b24;
        .bar{

            .bar-down{
                .bar-down-container{
                    color: #fff;
                    flex-direction: row;
                    justify-content: space-evenly;
                    width: 100%;
                    max-width: 1200px;
                    // Icon hamburguesa
                    .icon_menu{
                        display: none;
                    }
                    .logo_container{
                       margin-left: 1rem;
                    }
                    .Navegation{
                        a{
                            color: #fff!important;

                        }
                    }
                }
            }
        }
    }
    .info-section{
        height: 4rem;
        
        position: relative;
        overflow-x: hidden;
        .info-section--container{
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            padding: 1rem 0;
            

            background-color: #992614;
            color: white;

            font-family: Gelasio;
            font-size: 18px;
            p{
                display: block; /* Important to give the content a width */

                width: 100%;
                transform: translateX(100%); /* Animation start out of the screen */
              
                /* Add the animation */
                animation: move 50s linear infinite /* infinite make reapeat the animation indefinitely */;
                margin-bottom: .5rem;
                font-size: 1.5rem;
                color: #fff!important;
                span{
                    font-weight: bold;
                }
                .line{
                    padding: 0 1rem;
                }
            }
            @keyframes move {
                to { transform: translateX(-100%); }
              }
           
        }
    }
}