.last-news{
    list-style-type: decimal;
    .last-news--element{
        list-style-type: decimal;
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
        &::marker{
            font-size: 1.8rem;
            margin-left: 1rem;
        }
    }
}