.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .content_one_news {
    width: 90%;
    margin-top: 3rem;
    .content_one_news--top {
      display: none;
    }
    .article_news_one--info {
      p {
        margin: 2rem 0;
        font-size: 1.4rem;
        span {
          font-weight: bold;
        }
      }
    }
    .article_news_one--socialMedia {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .content_one_news_list--sections {
      display: flex;
      // flex-direction: column;
      flex-wrap: wrap;
      list-style: none;
      .content_one_news_list--sections--element {
        font-size: 1.3rem;
      }
      .content_one_news_list--sections--element-row {
        margin-left: 0.5rem;
      }
    }
    .article_news_one {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .article_news_one_img {
        height: 35rem;
        display: inline-block;
        margin-bottom: 4rem;
        position: relative;
        &::after{
          content: "";
          position: absolute;
          background-color: rgba(255, 255, 255, 0.4588235294);
          height: 0.1rem;
          width: 68rem;
          top: 41rem;
          left: 0;
        }
        img {
          height: 100%;
          object-fit: cover;
          margin-bottom: 1rem;
        }
        .pie_pagina{
          font-size: 1.2rem;
          span{
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;
          }
        }
      }
      .article_news_one--title {
        text-align: left;
        font-size: 2.8rem;
        margin: 2rem auto;
        font-weight: bold;
      }
      .article_news_one--extrac {
        font-size: 1.6rem;
        margin: 3rem 0;
        font-weight: 300;
        p,
        em,
        strong {
          margin: 1.5rem 0;
        }
      }
    }
    .relacionalNews {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      justify-content: center;
      margin-bottom: 2rem;
      // align-items: center;

      .relacionalNews--title {
        text-align: left;
        font-size: 1.8rem;
        margin-bottom: 3rem;
        margin-left: 0.4rem;
        &::after {
          content: "";
          position: absolute;
          top: 3rem;
          left: 50%; /* Posiciona el elemento en el centro horizontal */
          transform: translateX(-50%); /* Centra el elemento en sí mismo */
          width: 88vw;
          height: 0.3rem;
          background-color: #fff;
        }
      }
      .relacionalNews--list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-grow: 2;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .container {
    .content_one_news {
      .relacionalNews {
        .relacionalNews--list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 980px;
    margin: 0 auto;
    .content_one_news {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      max-width: 1012px;
      .contenedor {
        display: grid;
        grid-template-columns: 70% 1fr;
        gap: 2rem;
        align-items: start;
      }
      .relacionalNews {
        width: 678.031px;
        // overflow: hidden;
        .relacionalNews--title {
          &::after {
            content: "";
            position: absolute;
            top: 3rem;
            left: 350px; /* Posiciona el elemento en el centro horizontal */
            transform: translateX(-50%); /* Centra el elemento en sí mismo */
            width: 102%;
            height: 0.3rem;
            background-color: #fff;
          }
        }
        .news_relational--elements-imgContainer {
          display: inline-block;
          width: 22rem;
          height: 14rem;
          .news_relational--elements-imgContainer-img {
            width: 100%;
            height: 100%;
          }
        }
        .relacionalNews--list {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;
          .news_relational--elements-title{
            font-size: 1.6rem;
            font-weight: 700;
          }
        }
      }
      .article_news_one {
        width: 678.031px;
        margin-bottom: 4.4rem;
        position: relative;
        &::after {
          content: "";
          background-color: #fff;
          width: 69.7rem;
          position: absolute;
          height: 0.1rem;
          top: 100%;
          left: 0rem;
        }
        .article_news_one--title {
          width: 100%;
          font-size: 3.5rem;
          letter-spacing: -0.5px;
          line-height: 1.2;
        }
        
        .article_news_one--info{
          display: flex;
          width: 100%;
          .article_news_one--info--published{
            display: flex;
            margin-right: 2rem;
            align-items: center;
            .article_news_one--info--published_img{
              width: 5rem;
              height: 5rem;
              margin-right: 1rem;
              .article_news_one--info--published_img--img{
                width: 100%;
                border-radius: 50%;
              }
            }
          }
          .article_news_one--socialMedia{
            width: 56%;
            display: flex;
            justify-content: end;
            .Social_Media_Lists{
              i{
                font-size: 2.5rem;
              }
            }
          }
        }
        .article_news_one_img{
          width: 100%;
        }
        .article_news_one--extrac {
          p{
          //  text-align: justify;
          }
        }
      }
    }

    .content_one_news--extra {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-top: 19rem;
      .content_one_news--extra-form {
        display: flex;
        margin-bottom: 2rem;
        align-items: end;
        .content_one_news--extra-form-content {
          display: flex;
          flex-direction: column;
          margin-right: 2rem;
          .content_one_news--extra-form-content--label {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
          }
          .content_one_news--extra-form-content--input {
            height: 3rem;
          }
        }
        .btn-search {
          padding: 0;
          height: 3rem;
          width: 10rem;
        }
      }
      .content_one_news--extra-last {
        margin-bottom: 2rem;
        .content_one_news--extra-last-title {
          font-size: 2.5rem;
          text-align: start;
          margin-bottom: 2rem;
        }
        .last-news{
          width: 100%;
          a{

            li{
              margin-bottom: 3rem;
              font-size: 1.8rem;
              position: relative;
              font-family: 'IBM Plex Serif', serif;
              &::after{
                content: "";
                position: absolute;
                background-color: #ffffff75;
                height: 0.1rem;
                width: 28rem;
                top: 90px;
                left: 0;
              }
              
            }
          }
        }
      
      }
    }
  }
}
