.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  .content_one_news {
    width: 90%;
    margin-top: 2rem;
    .article_news_one--title{
      width: 100%;
      font-size: 4rem;
      letter-spacing: -0.5px;
      line-height: 1.2;
      margin-bottom: 3rem;
    }

    .content_one_news--top {
      display: none;
    }

    .article_news_one--info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      position: relative;
      .article_news_one--info-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        .icon_share{
          padding-right: .5rem;
        }
        .article_news_one--info--published{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-right: 2rem;
          border-right: #fff solid 0.1rem;
          padding-right: 2rem;
          height: 4rem;
          .article_news_one--info--published_img{
            display: inline-block;
            width: 4rem;
            height: 4rem;
            margin-right: 2rem;
            .article_news_one--info--published_img--img{
              border-radius: 5rem;
            }
          }
        }
        .article_news_one--info--date{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-right: 1rem;
          border-right: #fff solid 0.1rem;
          padding-right: 2rem;
          height: 4rem;
          .article_news_one--info--texts-date{
            text-align: left;
            p{
              span{
                display:inline-block;
                padding-bottom: 0.3rem;
              }
            }
          }
        }
        p {
          margin: 2rem 0;
          font-size: 1.4rem;
          span {
            font-weight: bold;
          }
        }
      }
    }
    .article_news_one--socialMedia {
      display: flex;
      width: 50%;
      justify-content: center;
      align-items: center;
      // flex-direction: column;
      // margin-bottom: 3rem;
      position: absolute;
      right: -100%;
      // background-color: #000;
      // z-index: 99999999;
      // border: solid #fff 0.1rem;
      border-left: none;
      .Social_Media_Lists{
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
          text-decoration: none;
          // margin-right: 0;
          padding: 1rem 0;
          // border-bottom: #fff solid .1rem;
          &:hover {
            cursor: pointer;
          }
          &:last-child{
            border-bottom: none;
          }
        }
      }
    }
    .social_media_open{

    }
    .content_one_news_list--sections {
      display: flex;
      // flex-direction: column;
      flex-wrap: wrap;
      list-style: none;
      .content_one_news_list--sections--element {
        font-size: 1.3rem;
      }
      .content_one_news_list--sections--element-row {
        margin-left: 0.5rem;
      }
    }
    .article_news_one {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .article_news_one_img {
        height: 35rem;
        display: inline-block;
        margin-bottom: 4rem;
        position: relative;
        &::after{
          content: "";
          position: absolute;
          background-color: rgba(255, 255, 255, 0.4588235294);
          height: 0.1rem;
          width: 38rem;
          top: 42rem;
          left: 0;
        }
        img {
          height: 100%;
          object-fit: cover;
          margin-bottom: 1rem;
        }
        .pie_pagina{
          font-size: 1.4rem;
          text-align: right;
          span{
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;
          }
        }
      }
      .article_news_one--title {
        text-align: left;
        font-size: 2.8rem;
        margin: 2rem auto;
        font-weight: bold;
      }
      .article_news_one--extrac {
        font-size: 1.8rem;
        margin: 3rem 0;
        padding-bottom: 5rem;
        font-weight: 300;
        font-family: 'IBM Plex Serif', serif!important;
       border-bottom: solid #fff 0.1rem;
        width: 100%;
        p,
        em,
        strong {
          margin: 1.8rem 0;
          letter-spacing: 0.5px;
          font-family: 'IBM Plex Serif', serif!important;
          padding-left: 1.5rem!important;
        }
        ol{
          padding-left: 2rem;
          width: 93%;
          font-family: 'IBM Plex Serif', serif!important;
        }
          p strong {
            padding-left: 0!important;
        }
        img{
          height: auto;
          max-width: 100%;
          border: none;
          border-radius: 0;
          box-shadow: none;
        }
      }
    }
    .relacionalNews {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      justify-content: center;
      margin-bottom: 2rem;
      align-items: center;

      .relacionalNews--title {
        font-size: 2.5rem;
        text-align: start;
        margin-bottom: 2rem;
        border-bottom: solid #fff 0.4rem;
        padding-bottom: 0.3rem;
        width: 100%;
      }
      .relacionalNews--list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-grow: 2;
      }
      .btn-link{
        margin-top: 0rem;
      }
    }

    .contenedor{
      .content_one_news--extra{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        .content_one_news--extra-form{
          display: flex;
          align-items: center;
          flex-direction: column;
          .content_one_news--extra-form-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .content_one_news--extra-form-content--label{
              font-size: 2rem;
              margin-bottom: 0.5rem;
            }
            .content_one_news--extra-form-content--input{
              padding: .5rem 0;
              margin-bottom: 1rem;
              outline: none;
              border: solid .1rem #ed3b24;
              border-radius: 4%;
              width: 33rem;
              height: 3.3rem;
            }
          }
          .btn-search{
            &:hover{
              cursor: pointer;
              background-color: #ed3b24;
              color: #000;
              border: #000 solid .1rem;
            }
          }
        }
        .content_one_news--extra-last{
          display: flex;
          flex-direction: column;
          margin-top: 2rem;
          .content_one_news--extra-last-title{
            font-size: 2.5rem;
            text-align: start;
            margin-bottom: 2rem;
            border-bottom: solid #fff .4rem;
            padding-bottom: 0.3rem;
          }
          .last-news{
            width: 100%;
            
            a{
  
              li.last-news--element{
                margin-bottom: 2rem;
                list-style-type: decimal;
                font-size: 2.2rem;
                position: relative;
                font-family: 'IBM Plex Serif', serif;
                border-bottom: solid 0.1rem #fff;
                padding-bottom: 2rem;
                &::marker{
                  font-size: 2rem;
                  // padding-left: 2rem;
                }
              }
            }
            a:last-child{
  
              li{
                margin-bottom: 2rem;
                font-size: 1.8rem;
                position: relative;
                font-family: 'IBM Plex Serif', serif;
                border-bottom: none;
                padding-bottom: 1rem;
              }
            }
          }
          
      }
    }
  }
}


}
@media only screen and (min-width: 768px) {
  .container {
    .content_one_news {
      .relacionalNews {
        .relacionalNews--list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 980px;
    margin: 0 auto;
    .content_one_news {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      max-width: 1012px;
      .article_news_one--title {
          width: 100%;
          font-size: 4rem;
          letter-spacing: -0.5px;
          line-height: 1.2;
        }
      .contenedor {
        display: grid;
        grid-template-columns: 70% 1fr;
        gap: 2rem;
        align-items: start;
      }
      .relacionalNews {
        width: 698.031px;
        // overflow: hidden;
        
        .relacionalNews--title {
          font-size: 2.5rem;
          // &::after {
          //   content: "";
          //   position: absolute;
          //   top: 3rem;
          //   left: 350px; /* Posiciona el elemento en el centro horizontal */
          //   transform: translateX(-50%); /* Centra el elemento en sí mismo */
          //   width: 102%;
          //   height: 0.3rem;
          //   background-color: #fff;
          // }
        }
        .news_relational--elements-imgContainer {
          display: inline-block;
          width: 22rem;
          height: 14rem;
          .news_relational--elements-imgContainer-img {
            width: 100%;
            height: 100%;
          }
        }
        .relacionalNews--list {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;
          .news_relational--elements-title{
            font-size: 2rem;
            font-weight: 700;
            font-family: 'IBM Plex Serif', serif;
          }
        }
        .btn-link{
          display: flex;
          justify-content: center;
        }
      }
      .article_news_one {
        width: 678.031px;
        margin-bottom: 4.4rem;
        position: relative;
        // &::after {
        //   content: "";
        //   background-color: #fff;
        //   width: 69.7rem;
        //   position: absolute;
        //   height: 0.1rem;
        //   top: 100%;
        //   left: 0rem;
        // }
        // .article_news_one--title {
        //   width: 100%;
        //   font-size: 3.5rem;
        //   letter-spacing: -0.5px;
        //   line-height: 1.2;
        // }
        
        .article_news_one--info{
          display: flex;
          width: 100%;
          flex-direction: row;
          .icon_share{
            display: none;
          }
          .article_news_one--info--published{
            display: flex;
            margin-right: 2rem;
            align-items: center;
            .article_news_one--info--published_img{
              width: 5rem;
              height: 5rem;
              margin-right: 1rem;
              .article_news_one--info--published_img--img{
                width: 100%;
                border-radius: 50%;
              }
            }
          }
          .article_news_one--socialMedia{
            width: 96%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: initial;
            margin-bottom: 0;
            .Social_Media_Lists{
              i{
                font-size: 2.2rem;
              }
            }
          }
        }
        .article_news_one_img{
          width: 100%;
          &::after{
            content: "";
            position: absolute;
            background-color: rgba(255, 255, 255, 0.4588235294);
            height: 0.1rem;
            width: 68rem;
            top: 42rem;
            left: 0;
          }
          
        }
        .article_news_one--extrac {
          font-size: 1.9rem;
          font-family: 'IBM Plex Serif', serif!important;
          font-weight: 200;
          padding-left: 0!important;
          p{
            font-size: 1.9rem;
            font-family: 'IBM Plex Serif', serif!important;
            font-weight: 200;
            padding-left: 0!important;
          }
          li{
            font-size: 1.9rem;
            font-family: 'IBM Plex Serif', serif!important;
            font-weight: 200;
            padding-left: 0!important;
          }
          img{
            height: auto;
            max-width: 98%;
            border: none;
            border-radius: 0;
            box-shadow: none;
          }
        }
      }
    }

    
    .contenedor{

      .content_one_news--extra {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 7rem;
        .content_one_news--extra-form {
          display: flex;
          flex-direction: row!important;
          margin-bottom: 2rem;
          align-items: end;
          .content_one_news--extra-form-content {
            display: flex;
            flex-direction: column;
            margin-right: 2rem;
            align-items: initial!important;
            .content_one_news--extra-form-content--label {
              font-size: 1.5rem;
              margin-bottom: 0.5rem;
            }
            .content_one_news--extra-form-content--input {
              height: 3rem;
            }
          }
          .btn-search {
            padding: 0;
            height: 3.3rem;
            width: 10rem;
            margin-top: 2rem;
          }
        }
        .content_one_news--extra-last {
          margin-bottom: 2rem;
          .content_one_news--extra-last-title {
            font-size: 2.5rem;
            text-align: start;
            margin-bottom: 2rem;
          }
          .last-news{
            width: 100%;
            a{
  
              li{
                margin-bottom: 2rem;
                font-size: 1.8rem;
                position: relative;
                font-family: 'IBM Plex Serif', serif;
                border-bottom: solid 0.1rem #fff;
                padding-bottom: 2rem;
              }
            }
            a:last-child{
  
              li{
                margin-bottom: 2rem;
                font-size: 1.8rem;
                position: relative;
                font-family: 'IBM Plex Serif', serif;
                border-bottom: none;
                padding-bottom: 1rem;
              }
            }
          }
        
        }
      }
    }
  }
}