$font_prymarie: 'Lora', serif;
$font_secondary: 'Inter', sans-serif;

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font_prymarie;
}

a, p, span, button {
    font-family: $font_secondary;
}

a {
    text-decoration: none;
    color: #fff;
}

.theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

.light-mode {
    background-color: white;
    color: black;

    .programs_container{
        ul{
            li{
                a{
                    color: #ff2e1d!important;
                }
            }
        }
        .Social_Media_Lists{
            a{

                color: #ff2e1d!important;
            }
        }
    }

    &:not(.lastNews-section--title){

        p, h1, h2, h3, h4, a {
            color: black;
            &::after{
                background-color: #000!important;
            }
        }
    }
    .footer,.footer h4, .footer p{
        color: #fff!important;
    }
    .Modal_not_found{
        color: #fff!important;
    }
    .Modal-results{
        ul{
            a{
                
                li{
                    color: #fff!important;
                }
            }
        }
    }
    article{

        border-color: #a1a1a1!important;
    }
    .news-extract{
        border-color: #a1a1a1!important;
    }
    .article_news_one--extrac{
        border-bottom: solid #a1a1a1 0.1rem!important;
    }
    border-color: #a1a1a1!important;
    section{
        border-color: #a1a1a1!important;
    }
    .section_banner--link{
        border-color: #a1a1a1!important;
    }
    .news-extract {
        color: #a1a1a1!important;
    }
    &::after {
        background-color: #a1a1a1!important;
    }
    .first-news-container,.second-news{
        border-color: #a1a1a1!important;
    }
    .article_news_one_img{
        &::after{
            background-color: #a1a1a1!important;
        }
    }
    .last-news{
        a{
            li{

                border-bottom: solid 0.1rem #a1a1a1!important;
            }
        }
    } 
    .activo.Modal-results{
        ul {
            color: #fff!important;
            a{
                color: #fff!important;
                li{
                    color: #fff!important;
                }
            }
        }
    } 
}

.dark-mode {
    background-color: black;
    color: white;

    p, h1, h2, h3, h4, a {
        color: white;
    }

    *::after {
        background-color: #fff; 
    }
    .Social_Media_Lists{
        a{

            color: #ff2e1d!important;
        }
    }
}

img {
    width: 100%;
}

.btn {
    padding: .5rem 2rem;
    background-color: transparent;
    color: #fff;
    outline: none;
    border: solid 0.2rem #fff;
    border-radius: 0.2rem;
}

.text-center {
    text-align: center;
}
